html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

body.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Home page */

/* Variables */
$left-width: 250px;
$right-width:350px;
$bottom-height: 50px;

/* The sidebar menu */
.left {
  left: 0;
  width: $left-width;
}

.right {
  right: 0;
  width: $right-width
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #444753; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  
  .header {
    height: 50px;
    width: inherit;
    padding: 5px;
    background-color: pink;
    position: relative;
  }
  .owned-chats {
    width: inherit;
    height: calc(50% - 25px);
    position: relative;
    background-color: blue;
    overflow-y: scroll;
  }
  .new-chats {
    width: inherit;
    position: relative;
    height: calc(50% - 25px);
    background-color: magenta;
    overflow-y: scroll;
  }
}

.main {
  position: relative;
  margin-left: $left-width;
  margin-right: $right-width;
  height: calc(100% - 100px);
  overflow-y: hidden;

  .chat-body {
    overflow: scroll;
    
  }

  ul li {
    display: block;
    width: inherit
    
    
  }

  li.sender {
    float: left;
  }

  li.own {
    float: right;
  }

}



/* Style page content */
// .main {
  // position: fixed;
  // top: 0;
  // left: 250px;
  // right:350px; 
  // height: 100%;
  // width: 100%;

  // .chat-input {
  //   position: fixed;
  //   height: 250px;
    
  //   top: calc(100% - 250px);
  // }
// }
/* The navigation menu links */
// .sidenav a {
//   padding: 6px 8px 6px 16px;
//   text-decoration: none;
//   font-size: 14px;
//   color: white;
//   display: block;
// }

// /* When you mouse over the navigation links, change their color */
// .sidenav a:hover {
//   color: #f1f1f1;
// }



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//   .sidenav {padding-top: 15px;}
//   .sidenav a {font-size: 18px;}
// }