html,
body {
  height: 100%;
  background-color: #F2F5F8;
}

body.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Home page */

/* Font imports */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
/* Variables */

$left-width: 275px;
$right-width:400px;
$bottom-height: 50px;
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;
$side-menu-grey: #444753;
/* The sidebar menu */

.right {
  right: 0;
  width: $right-width;
  .header {
    height: 60px;
    width: inherit;
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    border-bottom: 1px solid white;
    background-color: #345995;
    .logo {
      display: inline;
      color: #F4FFF8;
    }
    .header-message {
      display: inline;
      font-size: 24px;
      font-weight: 800;
      color: #F4FFF8;
    }
  }
  .right-actions {
    padding: 15px;
    width: inherit; // height: calc(10% - 20px);
    font-size: 16px;
    text-align: center;
    position: relative;
    overflow-y: hidden;
    border-bottom: 1px solid white;
  }
  .right-details {
    padding: 15px;
    width: inherit; // height: calc(39% - 20px);
    position: relative;
    overflow-y: scroll;
    border-bottom: 1px solid white;
    .form {
      display: block;
      margin-top: 0em;
      font-size: 16px;
      .background-gray {
        background-color: #F2F5F8 !important;
        color: black;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
      }
      .severe {
        background-color: #ff4c4c !important;
      }
    }
  }
  /* New Chats for assignment */
  .right-notes {
    padding: 15px;
    height: inherit;;
    width: inherit;
    overflow-y: scroll;
    font-size: 15px;
    span {
      font-size: 12px;
      font-weight: 400;
      margin-right: 2px;
    }
    i {
      margin-right: 5px;
    }
  }
  .right-input {
    padding: 10px;
    width: inherit;
    position: fixed;
    border-top: 1px solid white;
    bottom: 0;
    input {
      width: 100%;
      border: none;
      padding: 5px 5px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 5px;
      border-radius: 5px;
      resize: none;
    }
    button {
      float: right;
      color: $blue;
      font-size: 14px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: $side-menu-grey;
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.left {
  left: 0;
  width: $left-width;
  /* Header */
  .header {
    height: 60px;
    width: inherit;
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    border-bottom: 1px solid white;
    background-color: #345995;
    .logo {
      display: inline;
      color: #F4FFF8;
    }
    .header-message {
      display: inline;
      font-size: 24px;
      font-weight: 800;
      color: #F4FFF8;
    }
  }
  /* Self-assigned chats */
  .owned-chats {
    padding: 15px;
    width: inherit;
    height: calc(50% - 30px);
    position: relative;
    overflow-y: scroll;
    border-bottom: 1px solid white;
  }
  /* New Chats for assignment */
  .new-chats {
    padding: 15px;
    width: inherit;
    position: relative;
    height: calc(50% - 30px);
    overflow-y: scroll;
  }
}

/* Main components CSS */

body.home {
  font: 14px/20px "Lato", Arial, sans-serif;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: $side-menu-grey;
  color: white;
  overflow-x: hidden;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding-bottom: 15px;
    }
  }
  .heading {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
    text-align: center;
  }
}

.blank {
  position: fixed;
  height: 100%;
  width: calc(100% - 275px);
  margin-left: $left-width;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  display: table;
  span {
    line-height: 1.5;
    display: table-cell;
    vertical-align: middle;
  }
}

.main {
  position: fixed;
  height: calc(100% - 160px);
  width: calc(100% - 675px);
  margin-left: $left-width;
  margin-right: $right-width;
  overflow: scroll;
  border-bottom: 2px solid white;
}

.input {
  position: fixed;
  bottom: 0;
  height: 160px;
  width: calc(100% - 675px);
  margin-left: $left-width;
  margin-right: $right-width;
  padding: 20px;
  textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
  }
  button {
    float: right;
    color: $blue;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
    &:hover {
      color: darken($blue, 7%);
    }
  }
} // Miscellaneous CSS
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

body.home img {
  float: left;
}

.about {
  float: left;
  margin-top: 8px;
  padding-left: 8px;
}

.status {
  color: $gray;
  font-size: 14px;
}

.new-joiner {
  color: $green;
}

.traits {
  color: $gray;
  font-size: 14px;
}

#details {
  display: none;
}

.chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .message-data {
    margin-bottom: 15px;
  }
  .message-data-time {
    color: lighten($gray, 8%);
    padding-left: 6px;
  }
  .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    max-width: 70%;
    position: relative;
    &:after {
      bottom: 100%;
      left: 7%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $green;
      border-width: 10px;
      margin-left: -10px;
    }
  }
  .my-message {
    background: $green;
  }
  .other-message {
    background: $blue;
    &:after {
      border-bottom-color: $blue;
      left: 93%;
    }
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

#logout,
.sidenav li {
  cursor: pointer;
}

::-webkit-scrollbar {
  background:transparent;
  width:0;
}